.footer {
    background-color: $text-red;
    .footer-info {
        display: flex;
        justify-content: space-between;  
        padding-top: 32px;
        @include mobile {
            padding-top: 24px;
        }
    }    
    .footer-nav {
        display: flex;
        @include mobile {
            display: none;
        }
        li {
            & ~ li {
                padding-left: 48px;
                @include pad {
                    padding-left: 40px;                   
                }
            }        
        }
        a {
            color: $text-white;
            padding-top: 12px;
            padding-bottom: 12px;
            display: block;
            &:hover {
                color: $hover-link;
            }
        }
    }    
    .footer-contact {
        @include pad {
            padding-top: 6px;
            padding-bottom: 20px;
        }
        li {
            display: flex;
            align-items: center;  
            & ~ li {
                margin-top: 16px;
            }
            @include pc-pad {
                & ~ li {
                  margin-top: 12px;
                }
            }                      
            img {
                @include pad {
                    @include img-size(24px, 24px);
                }
            }
            a {
                display: block;
                font-size: $text-xm;
                color: $text-white;
                margin-left: 22px;
                @include pc-pad {
                    font-size: $text-ls;
                    margin-left: 11px;
                }
                @include pad {
                    font-size: $text-ls;
                    margin-left: 6px;
                }               
                &:hover {
                    color: $hover-link;
                }
            }
        }
    }    
    .footer-icon {
        display: flex;                
        li {            
            img {
                transition: all 0.5s;
                @include pad {
                    @include img-size(24px, 24px);
                }
                &:hover {
                    transform: scale(1.2);
                }
            }      
            & ~ li {
                margin-left: 32px;
            }   
            @include pad {
                & ~ li {
                  margin-left: 24px;
                }
            }       
        }
    }    
    .copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 39px;
        border-top: solid 1px $text-white; 
        @include pad {
            padding-top: 24px;
            padding-bottom: 32px;
        }  
        @include mobile {
            display: block;
            padding: 16px 0;
        } 
        p {
            color: $text-white;
        }
        ul {
            display: flex;
            @include mobile {
                display: block;
            }
            li {
                margin-left: 48px;  
                @include pad {
                    margin-left: 24px;  
                }          
                @include mobile {
                    margin: 8px 0;
                }                
                @include pad {
                    & ~ li {
                      margin-left: 24px;
                    }
                }
                @include mobile {
                    & ~ li {
                      margin-left: 0;
                    }
                }
                a {
                    display: block;
                    font-size: $text-ms;
                    color: $text-white;
                    &:hover {
                        color: $hover-link;
                    }
                }
            }
        }
    }
}

