.footer {
    background-color: $text-red;
    .footer-info {
        display: flex;
        justify-content: space-between;  
    }    
    .footer-nav {
        display: flex;
        li {
            & ~ li {
                padding-left: 48px;
                @include pad {
                    padding-left: 40px;                   
                }
            }        
        }
        a {
            padding-top: 44px;
            padding-bottom: 42px;
            display: block;
            &:hover {
                color: $hover-link;
            }
        }
    }    
    .footer-contact {
        li {
            display: flex;
            align-items: center;
            
            &:nth-child(1) {
                img {
                    margin-right: 10px;  
                    @include pad {
                        margin: 0px;
                    }                  
                }            
            }
            & ~ li {
                margin-top: 16px;
            }
            img {
                @include pad {
                    @include img-size(24px, 24px);
                }
            }
            a {
                font-size: $text-mm;
                @include pad {
                    font-size: $text-ms;
                }
                margin-left: 22px;
                &:hover {
                    color: $hover-link;
                }
            }
        }
    }    
    .footer-icon {
        display: flex;
        padding-top: 32px;
        li {
            margin-left: 24px;
            img {
                transition: all 0.5s;
                @include pad {
                    @include img-size(24px, 24px);
                }
                &:hover {
                    transform: scale(1.2);
                }
            }                
        }
    }    
    .copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
        padding-top: 32px;
        padding-bottom: 39px;
        border-top: solid 1px $text-white;    
        p {
            color: $text-white;
        }
        ul {
            display: flex;
            li {
                margin-left: 48px;  
                @include pad {
                    margin-left: 24px;  
                }          
                a {
                    display: block;
                    font-size: $text-ss;
                    &:hover {
                        color: $hover-link;
                    }
                }
            }
        }
    }
}

