.banner {    
    height: 840px;
    display: flex;
    align-items: center;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}

.slogan {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    text-align: right;
    color: $text-darkRed;   

    h5 {
        font-size: $text-m;
    }
    h3 {
        font-size: $text-l;
        font-weight: bold;
    }
}

.about {
    background-color: $bc;
}

.about-list {
    display: flex;
    margin-top: 48px;

    li {
        max-width: 255px;
        height: 201px;
        text-align: center;

        img {
            @include img-size(84px, 84px);
        }
        h3 {
            margin-top: 24px;
            color: $text-darkRed;
            font-size: $text-sm;
            font-weight: bold;            
        }
        p {
            text-align: left;
            margin-top: 8px;
        }
    }
}

.classic-list {
    display: flex;
    margin-bottom: 32px;    
    &:nth-child(odd) {
        flex-direction: row-reverse;
        .classic-product {
            margin-right: 30px;
        }        
    }
}

.photo {
    width: 635px;
}

.classic-product {
    display: flex;
    align-items: center;

    img {
        margin-right: 10px;
        margin-left: 32px;
        @include img-size(32px, 32px);
    }
    h4 {
        font-size: $text-xm;
        color: $text-red;
        font-weight: bold;
    }
}

.co-branding {       
    background-image: url(../images/bg.png);
    background-size: cover;
    background-position: center;

    .title {        
        color: $text-white;
    }
}

.co-branding-list {
    display: flex;
    justify-content: space-between;    

    li {
        @include img-size(540px, 455px);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: $text-xl;
            font-weight: bold;
            color: $text-red;
        }
    }
}

.co-branding-double {
    @include blend-mask(url(../images/product-8.png));  
}

.co-branding-youth {
    @include blend-mask(url(../images/product-9.png));    
}
.customer {  
    .customer-list {
        display: flex;
        justify-content: center;
    
        li {           
            @include img-size(255px, 460px); 
            border: 1px solid #dee2e6;
            border-radius: 4px;
            box-shadow: 0px 2px 6px #00000029;  
            position: relative;   
            margin-right: 30px;  
            
            img {
                @include img-size(255px, 256px); 
            }
        }
        .customer-list-title {
            font-size: $text-s;   
        }                
        .customer-list-date {
            position: absolute;
            bottom: 15px;
            font-size: $text-s;
            color: #707070;
        }
    }
}

.contact {
    background-color: $bc;    
}

.contact-info {
    width: 730px;

    .title {
        color: black;
    }
    p {
        font-size: $text-xs;
        margin-top: 24px;
        margin-bottom: 20px;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    input, textarea {
        padding-top: 12px;
        padding-bottom: 14px;
        padding-left: 16px;
        margin-top: 4px;
    }
    input {
        height: 50px;
    }    
    textarea {
        height: 136px;
    }
}

.checkbox-group {    
    display: flex;
    input {
        margin-right: 4px;        
        @include img-size(24px, 24px);
    }
}

.btn-confirm {
    padding-top: 40px;
    text-align: center;

    button {
        @include img-size(350px, 54px);
        color: $text-white;
        background-color: $text-red;
        border: none;
        cursor: pointer;
    }
}





