.banner {    
    height: 840px;
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
    @include mobile {       
        height: 394px;
        background-image: url(../images/banner-sm.png);   
    }   
    .slogan {
        height: 100%;
        display: flex;
        flex-direction: column;    
        justify-content: center;
        text-align: right;
        color: $text-darkRed;       
        h3 {
            font-size: $text-xm;            
            @include pad {
                font-size: $text-ls;                
            }
            @include mobile {
                font-size: $text-base;                
            }
        }
        h2 {
            font-size: $text-ll;
            font-weight: bold;
            @include pad {
                font-size: $text-ml;                
            }
            @include mobile {
                font-size: $text-lm;              
            }
        }
    }
}

.about {    
    @include pad {
       @include pad-p-y;
    }
    @include mobile {
        @include mobile-p-y;
    }   
    background-color: $bc;
    .about-list {
        display: flex;
        justify-content: space-around;
        margin-top: 48px;  
        @include mobile {
            flex-wrap: wrap;
        }     
        li {
            width: 23%;
            text-align: center;            
            @include mobile {
                width: 70%;
                & ~ li {
                    margin-top: 40px;
                }
            }    
            img {
                margin: 0 auto;
                @include img-size(100%, 84px);
            }
            h3 {
                margin-top: 24px;
                color: $text-darkRed;
                font-size: $text-xs;
                font-weight: bold;                      
            }
            p {
                text-align: left;
                margin-top: 8px;                
            }
        }
    }
}

.classic {
    @include pad {
        @include pad-p-y;
    }
    @include mobile {
        @include mobile-p-y;
    }    
    .classic-list {
        display: flex;                
        @include mobile {
            display: block;
            position: relative;
        }                     
        ul {
            display: flex;
        }
        &:nth-child(odd) {
            flex-direction: row-reverse;                          
        }
        &:nth-child(even) {           
            .classic-product:nth-child(even) {
                margin-left: 30px;                
            }            
        }
        &:nth-child(odd) {
            ul {
                flex-direction: row-reverse;
            }
            .classic-product:nth-child(even) {
                margin-right: 30px;
            }            
        }                     
        & ~ .classic-list {
            margin-top: 30px;            
        }           
        .star {
            @include img-size(100%, 50px);
        }        
        @include pad {
            &:nth-child(odd) {
              flex-direction: row;
            }
            &:nth-child(odd) {
              .classic-product:nth-child(even) {
                margin-left: 30px;
              }
            }           
            & ~ .classic-list {
              margin-top: 8px;
            }
            .photo {
              @include img-size(100%, 168px);
            }            
        }
        @include mobile {
            &:nth-child(even) {
              .classic-product:nth-child(even) {
                margin: 0;
              }
            }
            &:nth-child(odd) {
              .classic-product:nth-child(even) {
                margin: 0;
              }
            }
            &:nth-child(odd) {
              .classic-product:nth-child(even) {
                margin-right: 30px;
              }
            }
            .photo {
              margin: 0 auto;
              object-fit: cover; 
            }
        }
    }        
}

.classic-product {
    display: flex;
    align-items: center;  
    @include mobile {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);                
    }                  
    h3 {
        font-size: $text-ml;
        color: $text-red;
        font-weight: bold;    
        margin-left: 10px;    
        @include pad {
            font-size: $text-sm;
        }
        @include mobile {
            font-size: $text-sm;
        }
    }
}            

.co-branding {       
    background-image: url(../images/bg.png);
    background-size: cover;
    background-position: center;
    @include pad {
        @include pad-p-y;
    }
    @include mobile {
        @include mobile-p-y;
    }
    .title {        
        color: $text-white;
    }            
}

.co-branding-list {
    display: flex;
    justify-content: space-between;  
    @include mobile {
        flex-wrap: wrap;
        justify-content: center;
    }      
    li {
        @include img-size(48%, 455px);
        @include pad {
            @include img-size(48%, 278px);
        }
        @include mobile {
            @include img-size(100%, 291px);
            margin-top: 16px;               
        }
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;    
        h2 {
            font-size: $text-xl;
            font-weight: bold;
            color: $text-red;
            @include pad {
                font-size: $text-lm;
            }
        }
    }
}

.co-branding-double {        
    @include blend-mask(url(../images/product-8.png));  
    @include mobile {
        background-color:transparent;
        background-image: url(../../assets/images/product-8.png);
    }
}    

.co-branding-youth {
    @include blend-mask(url(../images/product-9.png));   
    @include mobile {
        background-color:transparent;
        background-image: url(../../assets/images/product-9.png);
    } 
}

.customer {  
    @include pad {
        @include pad-p-y-1;
    }
}

.customer-list {
    display: flex;
    justify-content: space-between;
    @include pad {
        flex-wrap: wrap;
    }       
    li {           
        @include img-size(23%, 460px); 
        border: 1px solid #dee2e6;
        border-radius: 4px;
        box-shadow: 0px 2px 6px #00000029;  
        position: relative;                    
        @include pad {
            width: 48%;
            margin-bottom: 32px;
            img {
              width: 100%;
            }
        }
        @include mobile {
            width: 100%;
            margin: 0 auto; 
            margin-bottom: 16px;
        }            
    }
}

.customer-list-title {
    font-size: $text-ms;  
    padding-top: 14px;
    padding-bottom: 7px; 
}  

.customer-list-date {
    position: absolute;
    bottom: 15px;
    font-size: $text-ms;
    color: #707070;
}

.contact {    
    @include pad {
        @include pad-p-y;
    }  
    @include mobile {
        @include mobile-p-y;
    }
    background-color: $bc;      
}

.contact-info {
    width: 45%; 
    margin: 0 auto;   
    @include pad {
        width: 70%;
    }
    @include mobile {
        width: 90%;
    }
    .title {
        color: black;  
        @include pad {
            margin-bottom: 24px;
        }          
    }
    p {
        font-size: $text-ls;
        margin-bottom: 20px;
        @include pad {
            margin-bottom: 16px;
        }
        @include mobile {                
            margin-bottom: 8px;
            font-size: $text-base;
        }
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px; 
    @include pad {
        margin-bottom: 8px;
    }  
    label {
        font-size: $text-base;
        @include pad {
            font-size: $text-ms;
        } 
    } 
    input, textarea {
        padding: 14px 16px;
        margin-top: 4px;
        border: solid 1px black;
        background-color: #ffffff00;
    }
    input {
        height: 50px;
    }    
    textarea {
        height: 136px;
        resize: none;
    }
}    

.checkbox-group {    
    display: flex;
    input {
        margin-right: 4px;        
        vertical-align: middle;
        @include img-size(3%, 24px);
        @include pad {
            @include img-size(4%, 24px);
        }
        @include mobile {
            @include img-size(8%, 24px);
        }
    }
    label {
        @include mobile {
            font-size: $text-ms;
        }
    }
}    

.btn-confirm {
    padding-top: 40px;
    text-align: center;    
    button {
        @include img-size(50%, 54px);
        @include pad {
            @include img-size(50%, 40px);
        }
        @include mobile {
            @include img-size(50%, 36px);
        }
        color: $text-white;
        background-color: $text-red;
        border: none;
        cursor: pointer;
        &:hover {
            color: $hover-link;
        }
    }
}    








