/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  line-height: 1.5;
  font-family: "Pan-CJK", "sans-serif"; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

a {
  color: #fff;
  text-decoration: none; }

.p-y {
  padding-top: 60px;
  padding-bottom: 80px; }

.p-y-1 {
  padding-top: 24px;
  padding-bottom: 24px; }

.p-y-2 {
  padding-top: 16px;
  padding-bottom: 8px; }

.p-x {
  padding-left: 88px;
  padding-right: 88px; }

.p-x-1 {
  padding-left: 16px;
  padding-right: 16px; }

.container {
  width: 1110px;
  margin: 0 auto; }
  @media (max-width: 1110px) {
    .container {
      width: 90%; } }

.title {
  font-size: 48px;
  font-weight: bold;
  color: #650300;
  text-align: center;
  margin-bottom: 40px; }
  @media (max-width: 992px) {
    .title {
      font-size: 32px;
      margin-bottom: 32px; } }
  @media (max-width: 767px) {
    .title {
      font-size: 20px;
      margin-bottom: 20px; } }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #aa0601;
  padding: 30px 88px; }
  @media (max-width: 992px) {
    .navbar {
      padding-right: 40px;
      padding-left: 40px; } }
  @media (max-width: 767px) {
    .navbar {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 0; } }
  @media (max-width: 767px) {
    .navbar h1 {
      margin: 0 auto;
      padding: 10px 0; } }
  .navbar .logo a {
    display: block;
    background-image: url(../images/logo.png);
    width: 80px;
    height: 49px;
    text-indent: -99999px;
    white-space: nowrap;
    overflow: hidden;
    background-repeat: no-repeat; }
    @media (max-width: 767px) {
      .navbar .logo a {
        width: 48px;
        height: 29px;
        background-size: contain; } }
  .navbar .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 767px) {
      .navbar .nav {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 100%; } }
    @media (max-width: 767px) {
      .navbar .nav li {
        width: 50%;
        margin: 0 auto;
        text-align: center; } }
    .navbar .nav a {
      display: block;
      padding-left: 64px; }
      .navbar .nav a:hover {
        color: #00FFFF; }
      @media (max-width: 1110px) {
        .navbar .nav a {
          padding-left: 50px; } }
      @media (max-width: 767px) {
        .navbar .nav a {
          padding-left: 0;
          padding-top: 8px;
          padding-bottom: 8px;
          border: 1px solid #fff; } }

.footer {
  background-color: #aa0601; }
  .footer .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 32px; }
    @media (max-width: 767px) {
      .footer .footer-info {
        padding-top: 24px; } }
  .footer .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 767px) {
      .footer .footer-nav {
        display: none; } }
    .footer .footer-nav li ~ li {
      padding-left: 48px; }
      @media (max-width: 992px) {
        .footer .footer-nav li ~ li {
          padding-left: 40px; } }
    .footer .footer-nav a {
      padding-top: 12px;
      padding-bottom: 12px;
      display: block; }
      .footer .footer-nav a:hover {
        color: #00FFFF; }
  @media (max-width: 992px) {
    .footer .footer-contact {
      padding-top: 6px;
      padding-bottom: 20px; } }
  .footer .footer-contact li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer .footer-contact li ~ li {
      margin-top: 16px; }
    @media (max-width: 1110px) {
      .footer .footer-contact li ~ li {
        margin-top: 12px; } }
    @media (max-width: 992px) {
      .footer .footer-contact li img {
        width: 24px;
        height: 24px; } }
    .footer .footer-contact li a {
      display: block;
      font-size: 36px;
      margin-left: 22px; }
      @media (max-width: 1110px) {
        .footer .footer-contact li a {
          font-size: 20px;
          margin-left: 11px; } }
      @media (max-width: 992px) {
        .footer .footer-contact li a {
          font-size: 20px;
          margin-left: 6px; } }
      .footer .footer-contact li a:hover {
        color: #00FFFF; }
  .footer .footer-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer .footer-icon li img {
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      @media (max-width: 992px) {
        .footer .footer-icon li img {
          width: 24px;
          height: 24px; } }
      .footer .footer-icon li img:hover {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2); }
    .footer .footer-icon li ~ li {
      margin-left: 32px; }
    @media (max-width: 992px) {
      .footer .footer-icon li ~ li {
        margin-left: 24px; } }
  .footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 39px;
    border-top: solid 1px #fff; }
    @media (max-width: 992px) {
      .footer .copyright {
        padding-top: 24px;
        padding-bottom: 32px; } }
    @media (max-width: 767px) {
      .footer .copyright {
        display: block;
        padding: 16px 0; } }
    .footer .copyright p {
      color: #fff; }
    .footer .copyright ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 767px) {
        .footer .copyright ul {
          display: block; } }
      .footer .copyright ul li {
        margin-left: 48px; }
        @media (max-width: 992px) {
          .footer .copyright ul li {
            margin-left: 24px; } }
        @media (max-width: 767px) {
          .footer .copyright ul li {
            margin: 8px 0; } }
        @media (max-width: 992px) {
          .footer .copyright ul li ~ li {
            margin-left: 24px; } }
        @media (max-width: 767px) {
          .footer .copyright ul li ~ li {
            margin-left: 0; } }
        .footer .copyright ul li a {
          display: block;
          font-size: 14px; }
          .footer .copyright ul li a:hover {
            color: #00FFFF; }

.banner {
  height: 840px;
  background-image: url(../images/banner.png);
  background-size: cover;
  background-position: center; }
  @media (max-width: 767px) {
    .banner {
      height: 394px;
      background-image: url(../images/banner-sm.png); } }
  .banner .slogan {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: right;
    color: #650300; }
    .banner .slogan h5 {
      font-size: 36px; }
      @media (max-width: 992px) {
        .banner .slogan h5 {
          font-size: 20px; } }
      @media (max-width: 767px) {
        .banner .slogan h5 {
          font-size: 16px; } }
    .banner .slogan h3 {
      font-size: 64px;
      font-weight: bold; }
      @media (max-width: 992px) {
        .banner .slogan h3 {
          font-size: 48px; } }
      @media (max-width: 767px) {
        .banner .slogan h3 {
          font-size: 32px; } }

.about {
  background-color: #aa06010d; }
  @media (max-width: 992px) {
    .about {
      padding-top: 40px;
      padding-bottom: 56px; } }
  @media (max-width: 767px) {
    .about {
      padding-top: 32px;
      padding-bottom: 40px; } }
  .about .about-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 48px; }
    @media (max-width: 1110px) {
      .about .about-list {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-top: 0px; } }
    .about .about-list li {
      width: 23%;
      text-align: center; }
      @media (max-width: 1110px) {
        .about .about-list li {
          width: 40%;
          margin-top: 40px; } }
      @media (max-width: 767px) {
        .about .about-list li {
          width: 70%; } }
      .about .about-list li img {
        margin: 0 auto;
        width: 84px;
        height: 84px; }
      .about .about-list li h3 {
        margin-top: 24px;
        color: #650300;
        font-size: 24px;
        font-weight: bold; }
      .about .about-list li p {
        text-align: left;
        margin-top: 8px; }

@media (max-width: 992px) {
  .classic {
    padding-top: 40px;
    padding-bottom: 56px; } }

@media (max-width: 767px) {
  .classic {
    padding-top: 32px;
    padding-bottom: 40px; } }

.classic .classic-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    .classic .classic-list {
      display: block;
      position: relative; } }
  .classic .classic-list:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .classic .classic-list:nth-child(even) .classic-product:nth-child(even) {
    margin-left: 30px; }
  .classic .classic-list:nth-child(odd) .classic-product:nth-child(even) {
    margin-right: 30px; }
  .classic .classic-list ~ .classic-list {
    margin-top: 30px; }
  .classic .classic-list .photo {
    width: 635px; }
  .classic .classic-list .star {
    width: 50px;
    height: 50px; }
  @media (max-width: 1110px) {
    .classic .classic-list .photo {
      width: 55%; } }
  @media (max-width: 992px) {
    .classic .classic-list:nth-child(odd) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
    .classic .classic-list:nth-child(odd) .classic-product:nth-child(even) {
      margin-left: 30px; }
    .classic .classic-list:nth-child(odd) .classic-product:nth-child(even) {
      margin-right: 0px; }
    .classic .classic-list ~ .classic-list {
      margin-top: 8px; }
    .classic .classic-list .photo {
      width: 390px;
      height: 168px; } }
  @media (max-width: 767px) {
    .classic .classic-list:nth-child(even) .classic-product:nth-child(even) {
      margin: 0; }
    .classic .classic-list:nth-child(odd) .classic-product:nth-child(even) {
      margin: 0; }
    .classic .classic-list:nth-child(odd) .classic-product:nth-child(even) {
      margin-right: 30px; }
    .classic .classic-list .photo {
      margin: 0 auto; } }

.classic .classic-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 767px) {
    .classic .classic-product {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); } }
  .classic .classic-product h4 {
    font-size: 48px;
    color: #aa0601;
    font-weight: bold;
    margin-left: 10px; }
    @media (max-width: 992px) {
      .classic .classic-product h4 {
        font-size: 28px; } }
    @media (max-width: 767px) {
      .classic .classic-product h4 {
        font-size: 28px; } }

.co-branding {
  background-image: url(../images/bg.png);
  background-size: cover;
  background-position: center; }
  @media (max-width: 992px) {
    .co-branding {
      padding-top: 40px;
      padding-bottom: 56px; } }
  @media (max-width: 767px) {
    .co-branding {
      padding-top: 32px;
      padding-bottom: 40px; } }
  .co-branding .title {
    color: #fff; }
  .co-branding .co-branding-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 767px) {
      .co-branding .co-branding-list {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .co-branding .co-branding-list li {
      width: 540px;
      height: 455px;
      background-size: cover;
      background-position: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 1110px) {
        .co-branding .co-branding-list li {
          width: 48%; } }
      @media (max-width: 992px) {
        .co-branding .co-branding-list li {
          width: 48%;
          height: 278px; } }
      @media (max-width: 767px) {
        .co-branding .co-branding-list li {
          width: 345px;
          height: 291px;
          margin-top: 16px; } }
      .co-branding .co-branding-list li h2 {
        font-size: 72px;
        font-weight: bold;
        color: #aa0601; }
        @media (max-width: 992px) {
          .co-branding .co-branding-list li h2 {
            font-size: 32px; } }
  .co-branding .co-branding-double {
    background-image: url(../images/product-8.png);
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: screen; }
    @media (max-width: 767px) {
      .co-branding .co-branding-double {
        background-color: transparent;
        background-image: url(../../assets/images/product-8.png); } }
  .co-branding .co-branding-youth {
    background-image: url(../images/product-9.png);
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: screen; }
    @media (max-width: 767px) {
      .co-branding .co-branding-youth {
        background-color: transparent;
        background-image: url(../../assets/images/product-9.png); } }

@media (max-width: 992px) {
  .customer {
    padding-top: 40px;
    padding-bottom: 24px; } }

.customer .customer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 992px) {
    .customer .customer-list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .customer .customer-list li {
    width: 255px;
    height: 460px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 6px #00000029;
            box-shadow: 0px 2px 6px #00000029;
    position: relative; }
    @media (max-width: 1110px) {
      .customer .customer-list li {
        width: 23%; } }
    @media (max-width: 992px) {
      .customer .customer-list li {
        width: 48%;
        margin-bottom: 32px; }
        .customer .customer-list li img {
          width: 100%; } }
    @media (max-width: 767px) {
      .customer .customer-list li {
        width: 345px;
        margin: 0 auto;
        margin-bottom: 16px; } }
  .customer .customer-list .customer-list-title {
    font-size: 14px;
    padding-top: 14px;
    padding-bottom: 7px; }
  .customer .customer-list .customer-list-date {
    position: absolute;
    bottom: 15px;
    font-size: 14px;
    color: #707070; }

.contact {
  background-color: #aa06010d; }
  @media (max-width: 992px) {
    .contact {
      padding-top: 40px;
      padding-bottom: 56px; } }
  @media (max-width: 767px) {
    .contact {
      padding-top: 32px;
      padding-bottom: 40px; } }
  .contact .contact-info {
    width: 730px;
    margin: 0 auto; }
    @media (max-width: 1110px) {
      .contact .contact-info {
        width: 65%; } }
    @media (max-width: 992px) {
      .contact .contact-info {
        width: 70%; } }
    @media (max-width: 767px) {
      .contact .contact-info {
        width: 90%; } }
    .contact .contact-info .title {
      color: black; }
      @media (max-width: 992px) {
        .contact .contact-info .title {
          margin-bottom: 24px; } }
    .contact .contact-info p {
      font-size: 20px;
      margin-bottom: 20px; }
      @media (max-width: 992px) {
        .contact .contact-info p {
          margin-bottom: 16px; } }
      @media (max-width: 767px) {
        .contact .contact-info p {
          margin-bottom: 8px;
          font-size: 16px; } }
  .contact .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 16px; }
    @media (max-width: 992px) {
      .contact .form-group {
        margin-bottom: 8px; } }
    .contact .form-group label {
      font-size: 16px; }
      @media (max-width: 992px) {
        .contact .form-group label {
          font-size: 14px; } }
    .contact .form-group input, .contact .form-group textarea {
      padding: 14px 16px;
      margin-top: 4px;
      border: solid 1px black;
      background-color: #ffffff00; }
    .contact .form-group input {
      height: 50px; }
    .contact .form-group textarea {
      height: 136px;
      resize: none; }
  .contact .checkbox-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .contact .checkbox-group input {
      margin-right: 4px;
      vertical-align: middle;
      width: 24px;
      height: 24px; }
    @media (max-width: 767px) {
      .contact .checkbox-group label {
        font-size: 14px; } }
  .contact .btn-confirm {
    padding-top: 40px;
    text-align: center; }
    .contact .btn-confirm button {
      width: 350px;
      height: 54px;
      color: #fff;
      background-color: #aa0601;
      border: none;
      cursor: pointer; }
      @media (max-width: 992px) {
        .contact .btn-confirm button {
          width: 210px;
          height: 40px; } }
      @media (max-width: 767px) {
        .contact .btn-confirm button {
          width: 165px;
          height: 36px; } }

/*# sourceMappingURL=all.css.map */
