/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  line-height: 1.5;
  font-family: "Pan-CJK", "sans-serif"; }

img {
  vertical-align: middle;
  height: auto; }

a {
  color: #fff;
  text-decoration: none; }

.p-y {
  padding-top: 60px;
  padding-bottom: 80px; }

.p-y-1 {
  padding-top: 16px;
  padding-bottom: 8px; }

.p-y-2 {
  padding-top: 40px; }

.p-x {
  padding-left: 16px;
  padding-right: 16px; }

.container {
  width: 1110px;
  margin: 0 auto; }

.title {
  font-size: 48px;
  font-weight: bold;
  color: #650300;
  text-align: center; }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #aa0601;
  padding: 30px 88px; }

.logo a {
  display: block;
  background-image: url(../images/logo.png);
  width: 80px;
  height: 49px; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .nav li {
    margin-left: 44px; }
  .nav a:hover {
    color: #00FFFF; }

.footer {
  background-color: #aa0601; }

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-nav li ~ li {
    padding-left: 48px; }
  .footer-nav a {
    padding-top: 44px;
    padding-bottom: 42px;
    display: block; }
    .footer-nav a:hover {
      color: #00FFFF; }

.footer-contact li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer-contact li:nth-child(1) img {
    margin-right: 10px; }
  .footer-contact li ~ li {
    margin-top: 16px; }
  .footer-contact li a {
    font-size: 36px;
    margin-left: 22px; }
    .footer-contact li a:hover {
      color: #00FFFF; }

.footer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px; }
  .footer-icon li {
    margin-left: 24px; }
    .footer-icon li img {
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      .footer-icon li img:hover {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2); }

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
  padding-top: 32px;
  padding-bottom: 39px;
  border-top: solid 1px #fff; }
  .copyright p {
    color: #fff; }
  .copyright ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .copyright ul li {
      margin-left: 48px; }
      .copyright ul li a {
        display: block;
        font-size: 14px; }
        .copyright ul li a:hover {
          color: #00FFFF; }

.banner {
  height: 840px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: right;
  color: #650300; }
  .slogan h5 {
    font-size: 36px; }
  .slogan h3 {
    font-size: 64px;
    font-weight: bold; }

.about {
  background-color: #aa06010d; }

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px; }
  .about-list li {
    max-width: 255px;
    height: 201px;
    text-align: center; }
    .about-list li img {
      width: 84px;
      height: 84px; }
    .about-list li h3 {
      margin-top: 24px;
      color: #650300;
      font-size: 24px;
      font-weight: bold; }
    .about-list li p {
      text-align: left;
      margin-top: 8px; }

.classic-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px; }
  .classic-list:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    .classic-list:nth-child(odd) .classic-product {
      margin-right: 30px; }

.photo {
  width: 635px; }

.classic-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .classic-product img {
    margin-right: 10px;
    margin-left: 32px;
    width: 32px;
    height: 32px; }
  .classic-product h4 {
    font-size: 48px;
    color: #aa0601;
    font-weight: bold; }

.co-branding {
  background-image: url(../images/bg.png);
  background-size: cover;
  background-position: center; }
  .co-branding .title {
    color: #fff; }

.co-branding-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .co-branding-list li {
    width: 540px;
    height: 455px;
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .co-branding-list li h2 {
      font-size: 72px;
      font-weight: bold;
      color: #aa0601; }

.co-branding-double {
  background-image: url(../images/product-8.png);
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: screen; }

.co-branding-youth {
  background-image: url(../images/product-9.png);
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: screen; }

.customer .customer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .customer .customer-list li {
    width: 255px;
    height: 460px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 6px #00000029;
            box-shadow: 0px 2px 6px #00000029;
    position: relative;
    margin-right: 30px; }
    .customer .customer-list li img {
      width: 255px;
      height: 256px; }
  .customer .customer-list .customer-list-title {
    font-size: 14px; }
  .customer .customer-list .customer-list-date {
    position: absolute;
    bottom: 15px;
    font-size: 14px;
    color: #707070; }

.contact {
  background-color: #aa06010d; }

.contact-info {
  width: 730px; }
  .contact-info .title {
    color: black; }
  .contact-info p {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 20px; }

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 16px; }
  .form-group input, .form-group textarea {
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 16px;
    margin-top: 4px; }
  .form-group input {
    height: 50px; }
  .form-group textarea {
    height: 136px; }

.checkbox-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .checkbox-group input {
    margin-right: 4px;
    width: 24px;
    height: 24px; }

.btn-confirm {
  padding-top: 40px;
  text-align: center; }
  .btn-confirm button {
    width: 350px;
    height: 54px;
    color: #fff;
    background-color: #aa0601;
    border: none;
    cursor: pointer; }

/*# sourceMappingURL=all.css.map */
