@mixin img-size($w, $h) {
    width: $w;
    height: $h;
}

@mixin blend-mask($url) {
    background-image: $url; 
    background-color: rgba(255, 255, 255, 0.5);      
    background-blend-mode: screen;
}

@mixin pad {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin background-type {
    text-indent: -99999px;
    white-space: nowrap;
    overflow: hidden;
    background-repeat: no-repeat;
}

@mixin pad-p-y {
	padding-top: 40px;
	padding-bottom: 56px;
}

@mixin pad-p-y-1 {
	padding-top: 40px;
	padding-bottom: 24px;
}

@mixin pad-p-y-2 {
    padding-top: 60px;
    padding-bottom: 96px;
}

@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin mobile-p-y {
	padding-top: 32px;
	padding-bottom: 40px;
}

@mixin mobile-p-y-1 {
    padding-top: 28px;
    padding-bottom: 56px;
}
  
