$text-white: #fff;
$text-black: #000000;
$text-red: #aa0601;
$text-darkRed: #650300;
$text-base: 16px;
$text-ss: 12px;
$text-ms: 14px;
$text-ls: 20px;
$text-xs: 24px;
$text-sm: 28px;
$text-lm: 32px;
$text-xm: 36px;
$text-sl: 42px;
$text-ml: 48px;
$text-ll: 64px;
$text-xl: 72px;
$bc: #aa06010d;
$hover-link: #00FFFF;
$square-color-primary: #5f3e2d;
$square-color-secondary: #B75929;
$page-border-color: #555555;