$text-white: #fff;
$text-red: #aa0601;
$text-darkRed: #650300;
$text-base: 16px;
$text-ss: 14px;
$text-ms: 20px;
$text-ls: 24px;
$text-xs: 28px;
$text-sm: 32px;
$text-mm: 36px;
$text-lm: 48px;
$text-ml: 64px;
$text-ll: 72px;
$bc: #aa06010d;
$hover-link: #00FFFF;