$text-white: #fff;
$text-red: #aa0601;
$text-darkRed: #650300;
$text-s: 14px;
$text-xs: 20px;
$text-sm: 24px;
$text-m: 36px;
$text-xm: 48px;
$text-l: 64px;
$text-xl: 72px;
$bc: #aa06010d;
$hover-link: #00FFFF;