.container {
    width: 1110px;
    margin: 0 auto;   
    @include pc-pad {
        width: 90%;
    }
}

.title {
    font-size: $text-lm;
    font-weight: bold;
    color: $text-darkRed;
    text-align: center; 
    margin-bottom: 40px;
    @include pad {
        font-size: $text-sm;
        margin-bottom: 32px;
    }
    @include mobile {
        font-size: $text-ms;
        margin-bottom: 20px;
    }
}