.container {
    width: 1110px;
    margin: 0 auto;   

    @include pad {
        width: 90%;
    }
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: $text-darkRed;
    text-align: center; 

    @include pad {
        font-size: $text-sm;
    }
}