.container {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;        
    @include pad {
        max-width: 720px;
    }    
    @include mobile {
        max-width: 100%;
    }
}

.title {
    font-size: $text-ml;
    font-weight: bold;
    color: $text-darkRed;
    text-align: center; 
    margin-bottom: 40px;
    @include pad {
        font-size: $text-lm;
        margin-bottom: 32px;
    }
    @include mobile {
        font-size: $text-ls;
        margin-bottom: 20px;
    }
}

.subTitle {
    font-size: $text-ml;
    font-weight: bold;
    border-left: 8px solid $border-left-color;
    margin-bottom: 65px;
    padding-left: 16px;
    @include pad {
        margin-bottom: 40px;
    }
    @include mobile {
        font-size: 28px;
        margin-bottom: 24px;
    }
}

.hide {
    display: none;
}